body {
  font: 30px ;
  margin: 20px;
  background: #fc6203;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;  
  font-weight: bold;
}

.square {  
  border: 2px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
.header{
	display: flex;
	justify-content: center;
}
.game-inner{
  display: flex;
  flex-direction: row;
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.game-info {
  margin-left: 20px;
	font-weight: bold;
}
